<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>restorator</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
  <div class="container">
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <h2 class="title">restorator</h2>
        </a>
      </div>
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <% if current_user %>
                Hey,&nbsp; <b><%= current_user.name %></b> &nbsp;&nbsp;
                <a href="/logout" class="button is-danger">
                <b>Sign out</b>
                </a>
              <% else %>
                <a href="/sign_in" class="button is-success">
                <b>Sign in</b>
                </a>
                <a href="/sign_up" class="button is-warning">
                <strong>Sign up</strong>
                </a>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </nav> 
  </div>
<section class="section">
  <% if @flash_error %>
    <div class="container">
      <div class="notification is-danger" style="max-width: 700px; margin: 1em auto 1em auto;">
        <button class="delete"></button>
        <%= @flash_error %>
      </div>
    </div>
  <% end %>
  <% flash.keys.each do |type| %>
    <% if type == :notice %>
      <div class="container">
        <div class="notification is-success" style="max-width: 700px; margin: 1em auto 1em auto;">
          <button class="delete"></button>
          <%= flash[type] %>
        </div>
      </div>
    <% end %>
  <% end %>
  <%= yield %>
</section>
<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>. The source code is licensed
      <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
      is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
    </p>
  </div>
</footer>
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', () => {
    (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
      $notification = $delete.parentNode;
      $delete.addEventListener('click', () => {
        $notification.parentNode.removeChild($notification);
      });
    });
  });
</script>
</body>
</html>
