<div class="container" style="max-width: 700px;">
<h1 class="title">Sign in</h1>
<form action="sessions" method="post">
  <div class="field">
    <label class="label">Email</label>
  <p class="control has-icons-left has-icons-right">
    <input class="input" type="email" name="email" placeholder="Email">
    <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
  </p>
</div>
<div class="field">
  <label class="label">Password</label>
  <p class="control has-icons-left">
    <input class="input" type="password" name="password" placeholder="Password">
    <span class="icon is-small is-left">
      <i class="fas fa-lock"></i>
    </span>
  </p>
</div>
<div class="field">
  <p class="control">
    <button type="submit" class="button is-success">
      Login
    </button>
  </p>
</div>
</form>
</div>
